<div class="container">
	<h3>Review Details</h3>
	<p> Product: PRODUCT DETAILS </p>
	<p> Rating: <%= @review.rating%> </p>
	<p> Review: <%= @review.reviewText%> </p>
	<p> Author: <%= @review.author%> </p>
	<p> Date: <%= @review.datePosted%> </p>
</div>