<div class="container">
	<h1 class="jumbotron-heading">Contact Us</h1>

	<div class="container">
		<form>
			<div>
				name:
				<input type="text">
			</div>
			<div>
				email:
				<input type="text">
			</div>
			<div>
				subject:
				<input type="text">
			</div>
			<div>
				enquiry:
				<textarea rows="3">
				</textarea>
			</div>
			<button>Send</button>
		</form>
	</div>
</div>